{% load static %}
{% include 'coffeeAndWifi/header.html' %}

<body>

  <div class="container-fluid cards-container">
    <div class="container">
      <div class="row justify-content-center">
        {% for cafe in all_cafes %}

        <div class="col d-flex justify-content-center title-button">
          <div class="card" style="width: 18rem;">
            <img src="{{ cafe.img_url }}" class="card-img-top card-img" alt="...">
            <div class="card-body">
              <h5 class="card-title">{{ cafe.name }}</h5>
              <!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> -->
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                <p>An item</p>
              </li>
              <li class="list-group-item">
                <p>A second item</p>
              </li>
              <li class="list-group-item">
                <p>A third item</p>
              </li>
            </ul>
            <div class="card-body">
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
    </div>
  </div>

</body>

{% include 'coffeeAndWifi/footer.html' %}