<footer>
  <div class="container">
    <div class="row">
      <div class="col">
        <p class="footer-title">Icons created by Freepik - Flaticon</p>
        <ul>
          <li>
            <p><a class="icon-link" href="https://www.flaticon.com/free-icons/cafe" title="cafe icons">Cafe</a></p>
          </li>
          <li>
            <p><a class="icon-link" href="https://www.flaticon.com/free-icons/wifi-connection"
                title="wifi connection icons">Wifi symbol</a></p>
          </li>
          <li>
            <p><a class="icon-link" href="https://www.flaticon.com/free-icons/cable" title="cable icons">Cable</a></p>
          </li>
        </ul>
      </div>
      <div class="col">
        <p class="copyright">© Meghana Girish 2022</p>
      </div>
    </div>
  </div>
</footer>

</html>